@page "/"


<u><h1>Motor ahoyadora Stihl BT 360 de 3.9 HP (con barrena)</h1></u>
<h2>Precio: 2,490,000 pesos colombianos</h2>
<h3>Condición: Usado</h3>

<ul>
    <b>Especificaciones técnicas:</b>
    <li>Desplazamiento: 60,3 cm³</li>
    <li>Potencia de salida: 2,9 / 3,9 kW / bhp</li>
    <li>Peso: 28,8 kg</li>
    <li>Nivel de presión acústica 2) 99 dB (A)</li>
    <li>Nivel de potencia acústica 2) 111 dB (A)</li>
    <li>Nivel de vibración izquierda / derecha 3) 6,8 / 8,7 m / s²</li>
    <li>Factor K según DIR 2006/42 / EC = 2,5 dB (A)</li>
    <li>Factor K según DIR 2006/42 / EC = 2m / s²</li>
</ul>
<p>
    Desde perforar simples agujeros en el suelo hasta la toma de muestras del mismo - las posibilidades de uso de las ahoyadoras STIHL son muchas.
    STIHL ElastoStart reduce el impacto causado por la compresión del motor durante el arranque. El choque de compresión se quita de las articulaciones y músculos del usuario a través de un resorte o elemento de goma en el mango de arranque.
    El sistema de filtro de aire de larga duración reduce la frecuencia de limpieza del filtro requerida.
    Interruptor de parada adicional en el manillar para mayor seguridad, de modo que el motor se pueda apagar accionando el interruptor de parada en el cabezal motorizado o el interruptor de parada en el manillar.
</p>
<img src="/Fotos/stihlBT360_solo.jpg" />
<img src="https://github.com/diegocapadi/ahoyadora1/blob/master/wwwroot/Fotos/WhatsApp%20Image%202021-07-11%20at%205.49.42%20PM%20(1).jpeg"/>
<img src="~/Fotos/stihls_2Hombres.jpg" />
<img src="~/Fotos/WhatsApp Image 2021-07-11 at 5.49.41 PM.jpeg" />
<img src="~/Fotos/WhatsApp Image 2021-07-11 at 5.49.42 PM (1).jpeg" />
<img src="~/Fotos/WhatsApp Image 2021-07-11 at 5.49.42 PM (2).jpeg" />
<img src="~/Fotos/WhatsApp Image 2021-07-11 at 5.49.42 PM.jpeg" />
