@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <div class="top-row px-4">
            <a href="https://www.facebook.com/marketplace/item/1183380392172976/" target="_blank" class="ml-md-auto">Facebook</a>
            <a href="mailto:diego@edugraph.com" class="ml-md-auto">Contacto</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
